*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* HELPERS */
.pad-20{
padding: 20px;    
}
.pad-10{
padding: 10px;    
}
.mar-20{
margin: 20px;
box-sizing: border-box;    
}
.bor-right{
border-right: 2px solid;    
}
.row .bor-right{
border-right: 2px solid #ccc;    
}
.center{
text-align: center;    
}
.text-right{
    text-align: right;
}
.text-left{
text-align: left;    
}
.negrita{
font-weight: bold;
}
.text-green{
color: #65bc45;   
}
.btn-link{
text-decoration: none;
color: black;
}
.btn-link:hover{
color: #65bc45;
text-decoration: none;
}
.btn-link{
color: #65bc45;
text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6 {
font-family: 'Questrial', sans-serif !important;
}
.foto_perfil{
 width: 40px;
height: 40px;
margin-right: 20px;     
}
.mi_perfil{
padding: 10px 0 !important;
margin-right: 15px !important;    
}
/* HELPERS */
.spa .material-icons{
    color: white !important;
    font-size: 40px !important;
}
.bor-w{
    border: 1px solid white;
}
.bor-b{
    border: 1px solid black !important;
    
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.btn-float{
   width: 50px;
   height: 50px;
   background-color: black;
   position: fixed;
   bottom: 0;
   right: 0;
   margin: 20px;
   z-index: 1000; 
   border-radius: 50%;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   display: none;
   border: 1px solid white;
}
.btn-float.ir{
    display: flex;
}
.btn-float .material-icons{
color: white;    
} 
.encabezados{
text-align: center; 
font-family: 'Questrial', sans-serif !important;    
}
/* TEXTO */
.encabezado-green{
 font-family: 'Questrial', sans-serif !important;   
 text-align: center; 
 color: #6CC24A;  
 font-size: 30px;
 font-weight: bold;
}
.par-green{
text-align: center;   
font-family: 'Questrial', sans-serif !important;    
font-size: 15px;       
color: #6CC24A;   
margin-top: 10px;    
}
.sub{
 text-align: center;   
 font-family: 'Questrial', sans-serif !important;    
 font-size: 20px;   
}
.par{
 text-align: center;   
 font-family: 'Questrial', sans-serif !important;    
 font-size: 18px;       
}
/* TEXTO */

/* CONTENEDORES */
.contenedor-small{
width: 65%;
height: auto;
padding: 10px;
box-sizing: border-box;
margin: 0 auto;
font-family: 'Questrial', sans-serif;      
}
.contenedor-all{
width: 100%;
height: auto;
padding: 5px;    
box-sizing: border-box;    
}
.contenedor-all-flex{
width: 100%;
height: auto;
padding: 5px;    
box-sizing: border-box;    
    
display: flex;
justify-content: center;
align-items: center;    
}
.cuadritos{
 width: 30%;
 height: auto;
 padding: 5px;
 box-sizing: border-box;    
 display: flex;
 flex-direction: column;    
 align-items: center;    
}
.contenedor-medium-flex{
width: 95%;
height: auto;
padding: 10px;
box-sizing: border-box;
margin: 0 auto;
font-family: 'Questrial', sans-serif;  
display: flex;
justify-content: space-between;
align-items: center;    
}
.contenedor-small-flex{
width: 80%;
height: auto;
padding: 10px;
box-sizing: border-box;
margin: 0 auto;
font-family: 'Questrial', sans-serif; 
display: flex;
justify-content: space-around;
align-items: center;    
}

.contenedor-big-flex{
width: 100%;
height: auto;
padding: 40px 30px;
background-color: #F4F4F3;    
box-sizing: border-box;
margin: 0 auto;
font-family: 'Questrial', sans-serif; 
display: flex;
flex-direction: column;    
justify-content: center;
align-items: center;    
}
/* FIN CONTENEDORES */

/* CARD */
.cardd{
width: 30%;
height: auto;
max-height: auto;
padding: 25px 15px;    
box-sizing: border-box;
background-color: white;  
display: flex;
flex-direction: column;
align-items: center;    
}
.card-all{
width: 100%;
height: 310px;
max-height: 310px;
padding: 25px 15px;    
box-sizing: border-box;
background-color: #6CC24A;
-webkit-box-shadow: 1px 4px 11px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 11px -5px rgba(0,0,0,0.75);
box-shadow: 1px 4px 11px -5px rgba(0,0,0,0.75);   
display: flex;
flex-direction: column;
align-items: center;  
border-radius: 5px;    
}
/* FIN CARD */

/* BOTONES */
.button{
 padding: 10px 20px;
border: none;
background-color: black;
color: white;    
font-family: 'Questrial', sans-serif;   margin: 10px 10px;   
font-size: 18px;
cursor: pointer;

}
/* FIN BOTONES */
.division{
width: 100%;
height: auto;
padding: 20px;
box-sizing: border-box;
background-color: #6CC24A;    
font-family: 'Questrial', sans-serif;  
color: white;
text-align: center;    
}
.circle{
/*border-radius: 50%;*/  
	width: 80%;
}



/* NAV ================================   */
nav{
    width: 100%;
    height: 13%;
    background-color: black;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    display: flex;
    margin-left: 5%;
}
nav .logo h1{
    font-size: 50px;
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
}
nav .logo .crown{
    color: white;
}
nav .logo .clean{
    color: #65bc45;
}
nav .menu{
width: auto;
height: auto; 
display: none;
margin-right: 5%;
}
nav .menu a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: 'Questrial', sans-serif;    
}
nav .menu a:hover{
border-bottom: 2px solid #6CC24A;
transition: all 0.5s;
}
.ini.bor{
border-bottom: 2px solid #6CC24A;
transition: all 0.5s;    
}
.cuadrado{
width: 80px;
height: 100%;
position: absolute;
right: 0;    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;    
cursor: pointer;
}
.cuadrado .span{
width: 40px;
height: 4px;  
background-color: white;    
margin-top: 5px; 
position: relative;
transition: all 0.5s;    
}
.logo{
cursor: pointer;
}
.cuadrado .p.open{ 
transform: rotateZ(45deg);
transition: all 0.5s;    
}
.cuadrado .s.open{   
transform: rotateZ(-45deg);    
transition: all 0.5s;    
}

/* NAV ================================   */


/* IMAGEN TOP ================================   */
.contenedor_imagen{
width: 100%;
height: 95%;
position: relative;
background-image: url("../media/casa_limpia.jpg");  
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
display: flex;
justify-content: center;
}
.contenedor_imagen .fondo{
width: 100%;
height: 100%;
position: absolute;
background-color: black;
z-index: 100;
opacity: 0.5;    
}
.contenedor_imagen .info {
    width: 90%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family: 'Questrial', sans-serif;
    z-index: 200;
}
.contenedor_imagen .info .titulo{
font-size: 50px;    
}
.contenedor_imagen .info .containe{
width: 100%;
height: auto;
display: flex; 
margin-top: 10px;    
}
.contenedor_imagen .info .reservar{
text-decoration: none;
color: white;  
font-family: 'Questrial', sans-serif;
padding: 0 20px;  
box-sizing: border-box;  
cursor: pointer;
    
display: flex;
justify-content: center;
align-items: center;    
}
.contenedor_imagen .info .prestar{
text-decoration: none;
color: white;  
font-family: 'Questrial', sans-serif;
padding: 0 20px;   
box-sizing: border-box;
display: inline-block;
margin-left: 10px; 
display: flex;
justify-content: center;
align-items: center;  
    cursor: pointer;
}
.contenedor_imagen .info .containe p:hover{
background-color: white;
color: black;
transition: all 0.5s; 
}
.contenedor_imagen .info .material-icons{
   font-size: 30px;
    margin-left: 10px;
}
/* IMAGEN TOP ================================   */

/* SECCION_1 ================================   */
.seccion_1 {
width: 80%;
height: auto;
padding: 10px;
box-sizing: border-box;    
margin: 0 auto;

display: flex;
justify-content: space-around;    
}
.seccion_1 .cuadro{
width: 100%;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;      
}
.seccion_1 .cuadro img{
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;      
}
.seccion_1 .cuadro .sub-cuadro{
padding: 20px;
box-sizing: border-box;      
border: 1px solid;  
border-radius: 50%;   
background-color: #333333;      
}
.seccion_1 .cuadro .sub-cuadro .icon{
font-size: 80px;      
color: #6CC24A;      
}
.seccion_1 .cuadro p{
margin-top: 15px;     
font-family: 'Questrial', sans-serif;      
}
.sub_tareas{
 text-align: center;   
 font-family: 'Questrial', sans-serif !important;    
 font-size: 18px;
 font-weight: bold;
}

/* SECCION_1 ================================   */

/* SECCION_2 ================================   */
.seccion_2{
width: 90%;
height: auto;
max-height: auto;    
padding: 20px;
box-sizing: border-box;
margin: 0 auto;   
}
.seccion_2 .menu{ 
height: 600px;
max-height: 600px;    
}
.seccion_2 .hogar{
height: auto;
max-height: auto;    
}
.seccion_2 .oficina{
height: auto;
max-height: auto;    
}
.seccion_2 .menu{
display: block;    
}
.seccion_2 .hogar{
display: none;
}
.seccion_2 .oficina{
display: none;    
}
.seccion_2 .menu .contenedor-small-flex .cuadro{
padding: 10px;
box-sizing: border-box;  
display: flex;
flex-direction: column;    
justify-content: center;    
}
.contenedor-small-flex .cuadro .cont-img{
	width: 360px;
	height: 250px;
	
}
.contenedor-small-flex .cuadro .cont-img img{
	height: 80%;
	width: auto;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.seccion_2 .menu .contenedor-small-flex .cuadro p{
font-size: 20px;    
margin-top: 10px;    
}
.seccion_2 .menu .contenedor-small-flex .cuadro button{
padding: 10px 20px;
border: none;
background-color: black;
color: white;    
font-family: 'Questrial', sans-serif;    
font-size: 18px;
cursor: pointer;
}
.seccion_2 .menu .contenedor-small-flex img{
/*width: 250px;
height: 250px;    
max-width: 80%;
max-height: 60%; */   
}
/* FIN SECCION_2 ================================   */

/* SECCION_3 ================================   */
.seccion_3 .contenedor-medium-flex img{
width: 100px;    
} 
/* FIN SECCION_3 ================================   */

/*  SECCION_4 ================================   */
.seccion_4{
width: 100%;
height: auto;    
padding: 100px 200px;
box-sizing: border-box;      
}
.carousel-cell {
width: 50%;
padding: 20px;
box-sizing: border-box;
height: 370px;
margin-right: 10px;
 background-color: #EFEFED;
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
}
.seccion_4 .carousel-cell img{
width: 100px;    
}
.seccion_4 .carousel-cell .bolita{
width: 30px;
height: 30px;    
padding: 10px;
box-sizing: border-box;    
background-color: #F6F6F5;
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;    
color: black;
font-family: 'Questrial', sans-serif;    
font-weight: bold;   
}
.seccion_4 .carousel-cell .dos{
width: 180px;    
}
.seccion_4 .carousel-cell .tres{
width: 130px;    
}
/* FIN SECCION_4 ================================   */


/* SECCION_5 ================================   */
.seccion_5{
width: 100%;
height: 400px;
max-height: 400px;    
padding: 20px 40px;
box-sizing: border-box;    
background-color: #fff; 
    
display: flex;    
justify-content: space-around;
align-items: center;    
}
.seccion_5 .izq{
width: 35%;
height: auto;
display: inline-block; 
display: flex;
justify-content: flex-end;    
}
.seccion_5 .der{
width: 55%;
height: auto;
padding: 15px;    
box-sizing: border-box;
display: inline-block;  
float: right;    
}
.seccion_5 .der h1{
font-family: 'Questrial', sans-serif;    
font-size: 25px;
color: black;
}
.seccion_5 .der p{
font-family: 'Questrial', sans-serif;    
font-size: 18px;
color: black;   
}
.seccion_5 .der button{
padding: 10px 30px;
border: none;    
background-color: #6CC24A;
color: white;
font-weight: bold;
font-family: 'Questrial', sans-serif;      
}
.seccion_5 .izq img{
width: 300px;    
height: auto;
}
/* FIN SECCION_5 ================================   */


/* MODAL_SECCION ================================   */
.modal_secc_1{
width: 100%;
height: 210px;
max-height: 400px;    
/*padding: 20px 40px;*/
box-sizing: border-box;    
background-color: #fff; 
    
display: flex;    
justify-content: space-around;
align-items: center;    
}
.modal_secc_1 .izq{
width: 35%;
height: auto;
display: inline-block; 
display: flex;
justify-content: flex-end;    
}
.modal_secc_1 .der{
width: 55%;
height: auto;
/*padding: 15px;  */  
box-sizing: border-box;
display: inline-block;  
float: right;    
}
.modal_secc_1  h1{
font-family: 'Questrial', sans-serif;    
font-size: 16px;
color: black;
}
.modal_secc_1 .der p{
font-family: 'Questrial', sans-serif;    
font-size: 12px;
color: black;   
}
.modal_secc_1 .der button{
padding: 10px 30px;
border: none;    
background-color: #6CC24A;
color: white;
font-weight: bold;
font-family: 'Questrial', sans-serif;      
}
.modal_secc_1 .izq img{
width: 100%;    
height: auto;
}
.modal_secc_2{
width: 100%;
height: 140px;
max-height: 400px;    
/*padding: 20px 40px;*/
box-sizing: border-box;    
background-color: #fff; 
    
display: flex;    
justify-content: space-around;
align-items: center;    
}
.modal_secc_2 .izq{
width: 35%;
height: auto;
display: inline-block; 
display: flex;
justify-content: flex-end;    
}
.modal_secc_2 .der{
width: 55%;
height: auto;
/*padding: 15px;  */  
box-sizing: border-box;
display: inline-block;  
float: right;    
}
.modal_secc_2 .der p{
font-family: 'Questrial', sans-serif;    
font-size: 12px;
color: black;   
}
.modal_secc_2 .der button{
padding: 10px 30px;
border: none;    
background-color: #6CC24A;
color: white;
font-weight: bold;
font-family: 'Questrial', sans-serif;      
}
.modal_secc_2 .izq img{
width: 100%;    
height: auto;
}
.modal_secc_t{
width: 100%;
/*height: 120px;
max-height: 400px; */   
padding: 30px 40px ;
margin: 0px 5px;
box-sizing: border-box;    
background-color: #fff; 
justify-content: space-around;
align-items: center;    
}
.modal_secc_t p{
font-family: 'Questrial', sans-serif;    
font-size: 12px;
color: black;   
}
.modal_secc_t h1{
font-family: 'Questrial', sans-serif;    
font-size: 18px;
color: black;
}

/* FIN MODAL SECCION ================================   */


/*  SECCION_6 ================================   */
.seccion_6{
width: 100%;
height: 530px;  
padding: 30px 20px;
box-sizing: border-box;    
background-color: #EBEBE9; 
display: flex;
flex-direction: column;
justify-content: center;    
}
.seccion_6 .contenedor-medium-flex .bolita{
width: 30px;
height: 30px;    
background-color: #6CC24A;
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;    
color: white;
font-family: 'Questrial', sans-serif;    
font-weight: bold;
}
.seccion_6 .contenedor-medium-flex{
margin-top: 5%;    
}
.seccion_6 .contenedor-medium-flex .cart{
width: 33%;
height: 100%;
padding: 20px;
box-sizing: border-box;    
}
.seccion_6 .contenedor-medium-flex .cart p{
display: inline-block;
margin-left: 10px;  
font-family: 'Questrial', sans-serif; 
text-align: left;
    
}
/* FIN SECCION_6 ================================   */

/* SECCION_7 ================================   */
.seccion_7{
width: 100%;
height: 500px;   
background-color: red;
position: relative;
}
.seccion_7 .fondo{
width: 100%;    
height: 100%;
background-color: black;
opacity: 0.6;
position: absolute;
z-index: 10;    
}
.seccion_7 .contenido{
width: 100%;    
height: 100%;
position: absolute;
z-index: 20;    
    
display: flex;
justify-content: space-around;
align-items: center;    
}
.seccion_7 .contenido .linea{
 height: 400px;   
border: 1px solid white;    
}
.seccion_7 .contenido .cuadro{
width: 400px;
height: 400px;    
padding: 20px;
box-sizing: border-box;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;    
}
.seccion_7 .contenido .cuadro h1{
font-weight: bold;
font-family: 'Questrial', sans-serif;     
color: white;    
}
.seccion_7 .contenido .cuadro p{
color: white;
font-size: 20px; 
font-family: 'Questrial', sans-serif;   
text-align: center;    
}
.seccion_7 .contenido .cuadro button{
padding: 10px 35px;    
border: none;
color: white;
font-family: 'Questrial', sans-serif;   
background-color: #6CC24A;    
font-size: 20px;
}
.seccion_7 img{
width: 100%;
height: 500px;
position: absolute;
}
/* FIN SECCION_7 ================================   */

/* FOOTER================================   */
.footer{
width: 100%;
height: auto;
background-color: black;
padding: 20px;
box-sizing: border-box;    
    
display: flex;
flex-direction: column;
justify-content: space-around;    
}
.footer .card-footer{
width: auto;
height: auto;
padding: 10px;
/*box-sizing: ; */   
display: flex;
flex-direction: column;   
}
.footer .card-footer-normal{
width: auto;
height: auto;
padding: 10px;
box-sizing: border-box;    
}
.footer .card-footer-normal button{
background: black;
border: none;
color: white;
}
.footer h1{
font-family: 'Questrial', sans-serif;
color: white;
margin-left: 40px;	
}
.footer h2{
font-family: 'Questrial', sans-serif;
color: white;
font-size: 20px;
}
.footer img{
width: 100px;
display:flex;
}
.card-footer-normal img{
width: 25px;
display: inline;
}
.card-footer button{
background: black;
border: none;
color: white;
text-align: left;
margin: 5px 0px;
}
.footer .card-footer h3{
font-family: 'Questrial', sans-serif;
color: white;
font-weight: bold;
}
.footer p{
font-family: 'Questrial', sans-serif; 
color: white;
margin-top: 5px;
}
.footer .material-icons{
    color: white !important;
    font-size: 30px !important;
}

/* FIN FOOTER================================   */


/* INFO-PRIVACIDAD================================   */
body{

}
.info-privacidad{
width: 100%; 
height: auto;
background-image: url('../media/fondo.png'); 
}
.info-privacidad .info-privacidad-seccion_1{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 3%;    
font-family: 'Questrial', sans-serif;   
}
.info-privacidad .info-privacidad-seccion_1 .prueba{
display: flex;
flex-direction: column;
justify-content: center;  
}
.info-privacidad .info-privacidad-seccion_1 .col{
display: flex;
flex-direction: column;
justify-content: center;  
}
/* FIN INFO-PRIVACIDAD================================   */


/* INFO-USER================================   */
body{
    background-color: white !important;
}
.info-user{
width: 100%; 
height: auto;     
}
.info-user .info-user-seccion_1{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 3%;    
font-family: 'Questrial', sans-serif;   
}
.info-user .info-user-seccion_1 .prueba{
display: flex;
flex-direction: column;
justify-content: center;  
}
.info-user .info-user-seccion_1 .col{
display: flex;
flex-direction: column;
justify-content: center;  
}
.info-user .info-user-seccion_1 .registrate{
 display: inline-block;
 padding: 10px 20px;
 max-width: 200px;    
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-user .info-user-seccion_1 .registrate, i{
vertical-align: middle;    
}
.info-user .info-user-seccion_2{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto; 
margin-top: 10%;    
font-family: 'Questrial', sans-serif;   
}
.marco{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto; 
margin-top: 5%;    
font-family: 'Questrial', sans-serif;   
}
.info-user .info-user-seccion_3{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
font-family: 'Questrial', sans-serif;   
}
.info-user .info-user-seccion_3 .col{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
/*justify-content: center;*/  
text-align: left;  
background-color: white;
margin: 10px;
box-sizing: border-box;   
padding: 15px;    
}
.info-user .info-user-seccion_3 .col h3{
height: 25%;
}
.info-user .info-user-seccion_3 .col .cont-img{
    width: 100%;   
    height: 80px; 
	
}
.info-user .info-user-seccion_3 .col .cont-img img{
    height: 100%;   
}
.info-user .info-user-seccion_4 .registrate{
 display: inline-block;
 padding: 5px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-user .info-user-seccion_4 .registrate, i{
vertical-align: middle;    
}
.info-user .info-user-seccion_4{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto; 
margin-top: 10%;
font-family: 'Questrial', sans-serif;   
}
.info-user .info-user-seccion_4 .der{
display: flex;
flex-direction: column;
justify-content: center;    
padding-left: 40px;    
}
.info-user .info-user-seccion_4 .der a{
max-width: 250px !important;    
height: 60px;      
}
.info-user .info-user-seccion_5{
width: 85%;
max-width: 85%;
height: auto;
margin: 5% auto;    
font-family: 'Questrial', sans-serif;   
}
.info-user-seccion_5 .card .card-header {
background-color: white !important;
border: none !important;   
}
.info-user-seccion_5 .ver_mas{
color: #007FFF !important;
cursor: pointer;
border-bottom: 1px solid;
}
.info-user-seccion_5 .otras-preguntas{
display: none;  
}
/* FIN INFO-USER================================   */



/* INFO SOCIO================================   */
body{
background-color: white !important;    
}
.info-socio{
width: 100%; 
height: auto;     
}
.info-socio .info-socio-seccion_6{
width: 85%;
max-width: 85%;
height: auto;
margin: 5% auto;
font-family: 'Questrial', sans-serif;   
}
.info-socio-seccion_6 .col-der{
padding-left: 170px !important;
box-sizing: border-box;    
display: flex;
flex-direction: column;
justify-content: center;    
}
.info-socio .info-socio-seccion_6 .registrate{
 display: inline-block;
 max-width: 200px;    
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-socio .info-socio-seccion_6 .registrate, i{
vertical-align: middle;    
}
.info-socio .info-socio-seccion_7{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 5%;    
margin-bottom: 10%;
font-family: 'Questrial', sans-serif;  
}
.info-socio-seccion_7 .col h3{
min-height: 30%;
}
.info-socio-seccion_7 .col{
/*display: flex;*/
flex-direction: column;    
justify-content: center;    
align-items: flex-start;    
text-align: left; 
padding: 10px;
box-sizing: border-box; 
}
.info-socio-seccion_7 .col .content-img{
width: 100%; 
height: 80px; 
}
.info-socio-seccion_7 .col img{
height: 100%;    
}
.info-socio .info-socio-seccion_8{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 5%;    
font-family: 'Questrial', sans-serif;   
}
.info-socio-seccion_title-2{
width: 85%;
max-width: 85%;
height: auto;
margin: 2% auto;
font-family: 'Questrial', sans-serif;   
}
.info-socio .info-socio-seccion_8 .registrate{
 display: inline-block;
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-socio .info-socio-seccion_8 .registrate, i{
vertical-align: middle;    
}
.info-socio-seccion_8 .col-izq{
padding: 15px;
box-sizing: border-box;    
display: flex;    
flex-direction: column;
justify-content: center;    
}
.info-socio .info-socio-seccion_9{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 1%;    
font-family: 'Questrial', sans-serif;    
background-color: #f4f6f6;
}
.info-socio-seccion_9 .col{
display: flex;
flex-direction: column;
align-items: flex-start;    
padding: 30px 20px;
box-sizing: border-box;     
}
.info-socio-seccion_9 .col .img-secc9{
width: 100%;    
height: 50px;    
}
.info-socio-seccion_9 .col img{
height: 100%;    
}
.info-socio-seccion_9 .col h4{
height: 10%;
}
.info-socio .info-socio-seccion_9 .registrate{
 display: inline-block;
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-socio .info-socio-seccion_9 .registrate, i{
vertical-align: middle;    
}
.info-socio .info-socio-seccion_10{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 3%;    
font-family: 'Questrial', sans-serif;  
}
.info-socio-seccion_10 .col{
padding: 0;    
}
.info-socio-seccion_10 .card .card-header {
background-color: white !important;
border: none !important;    
}
.info-socio-seccion_10 .ver_mas{
color: #007FFF !important;
cursor: pointer;
border-bottom: 1px solid;
}
.info-socio-seccion_10 .otras-preguntas{
display: none;  
}
/* FIN INFO-SOCIO================================   */


/* info op laboral===============================   */
body{
background-color: white !important;    
}
.info-laboral{
width: 100%; 
height: auto;     
}
.info-laboral .info-laboral-seccion_6{
width: 85%;
max-width: 85%;
height: auto;
margin: 5% auto;
font-family: 'Questrial', sans-serif;   
}
.info-laboral-seccion_6 .col-der{
padding-left: 170px !important;
box-sizing: border-box;    
display: flex;
flex-direction: column;
justify-content: center;    
}
.info-laboral .info-laboral-seccion_6 .registrate{
 display: inline-block;
 max-width: 200px;    
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-laboral .info-laboral-seccion_6 .registrate, i{
vertical-align: middle;    
}
.info-laboral .info-laboral-seccion_7{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 3%;    
margin-bottom: 5%;
font-family: 'Questrial', sans-serif;   
}
.info-laboral-seccion_7 .col{
display: flex;
flex-direction: column;    
justify-content: center;    
align-items: flex-start;    
text-align: left; 
padding: 5px;
box-sizing: border-box;    
}
.info-laboral-seccion_7 .col hr{
border: 3px;
width: 90%;
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
border-style: solid;
border-width: 0.5px;
color: #ccc;
}

/* info op laboral================================   */



/* cobertura===============================   */
body{
background-color: white !important;    
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 450px;
width: 600px;	
}
/* Optional: Makes the sample page fill the window. */
.info-cobertura{
width: 100%; 
height: auto;     
}
.info-cobertura .info-cobertura-seccion_6{
width: 85%;
max-width: 85%;
height: auto;
margin: 5% auto;
font-family: 'Questrial', sans-serif;   
}
.info-cobertura-seccion_6 .col-der{
padding-left: 20px !important;
box-sizing: border-box;    
display: flex;
flex-direction: column;
justify-content: center;    
}
.info-cobertura .info-cobertura-seccion_6 .registrate{
 display: inline-block;
 max-width: 200px;    
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
/* cobertura================================   */



/* PREG FRECUENTES================================   */
body{
background-color: white !important;    
}
.info-preg-frec{
width: 100%; 
height: auto;     
}
.info-preg-frec .info-preg-frec-seccion-p{
width: 100%;
max-width: 100%;
height: 350px;
margin: 5% auto;
}
.info-preg-frec-seccion-p .preg-img{
width: 55%;
padding-left: 70px !important;
box-sizing: border-box;    
display: inline-block;
flex-direction: column;
justify-content: center; 

}
.info-preg-frec .info-preg-frec-seccion-p .preg-img img{
}

.info-preg-frec-seccion-p .col-der{
width: 40%;
/*padding-left: 170px !important;*/
box-sizing: border-box;    
display: inline-block;
flex-direction: column;
justify-content: center; 
padding: 50px;
}
.info-preg-frec-seccion-p .tit-izq{
width: 75%;
padding-left: 70px !important;
box-sizing: border-box;    
display: inline-block;
flex-direction: column;
justify-content: center; 

}
.info-preg-frec-seccion-p .tit-der{
width: 20%;
box-sizing: border-box;    
display: inline-block;
flex-direction: column;
justify-content: center; 
}
.info-preg-frec .info-preg-frec-seccion-p .tit-der .registrate{
 display: inline-block;
 max-width: 200px;    
 padding: 10px 20px;
 margin-top: -5px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-preg-frec .info-preg-frec-seccion-p .registrate, i{
vertical-align: middle;    
}
.info-preg-frec .info-preg-frec-seccion_7{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 5%;    
margin-bottom: 10%;
font-family: 'Questrial', sans-serif;   
}
.info-preg-frec-seccion_7 .col{
display: flex;
flex-direction: column;    
justify-content: center;    
align-items: flex-start;    
text-align: left; 
padding: 10px;
box-sizing: border-box;    
}
.info-preg-frec-seccion_7 .col img{
width: 80px;    
}
.info-preg-frec .info-preg-frec-seccion_8{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 5%;    
font-family: 'Questrial', sans-serif;   
}
.info-preg-frec-seccion_title-2{
width: 85%;
max-width: 85%;
height: auto;
margin: 2% auto;
font-family: 'Questrial', sans-serif;   
}
.info-preg-frec .info-preg-frec-seccion_8 .registrate{
 display: inline-block;
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-preg-frec .info-preg-frec-seccion_8 .registrate, i{
vertical-align: middle;    
}
.info-preg-frec-seccion_8 .col-izq{
padding: 15px;
box-sizing: border-box;    
display: flex;    
flex-direction: column;
justify-content: center;    
}
.info-preg-frec .info-preg-frec-seccion_9{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 1%;    
font-family: 'Questrial', sans-serif;    
background-color: #f4f6f6;
}
.info-preg-frec-seccion_9 .col{
display: flex;
flex-direction: column;
align-items: flex-start;    
padding: 30px 20px;
box-sizing: border-box;     
}
.info-preg-frec-seccion_9 .col img{
width: 50px;    
}
.info-preg-frec .info-preg-frec-seccion_9 .registrate{
 display: inline-block;
 padding: 10px 20px;
 box-sizing: border-box;
 background-color: black;
 color: white;   
text-decoration: none;    
}
.info-preg-frec .info-preg-frec-seccion_9 .registrate, i{
vertical-align: middle;    
}
.info-preg-frec .info-preg-frec-seccion_10{
width: 85%;
max-width: 85%;
height: auto;
margin: 0 auto;
margin-top: 3%;    
font-family: 'Questrial', sans-serif;  
}
.info-preg-frec-seccion_10 .col{
padding: 0;    
}
.info-preg-frec-seccion_10 .card .card-header {
background-color: white !important;
border: none !important;    
}
.info-preg-frec-seccion_10 .ver_mas{
color: #007FFF !important;
cursor: pointer;
border-bottom: 1px solid;
}
.info-preg-frec-seccion_10 .otras-preguntas{
display: none;  
}
/* PREG FRECUENTES================================   */




/* HOGAR Y OFICINA================================   */
.info-hogar h1{
font-size: 40px;
}
.info-hogar .til{
font-size: 65px;
}
.info-hogar h2{
font-size: 20px;
}
.info-hogar p{
font-size: 16px;
}
.info-hogar{
width: 100%;
height: auto;
} 
.info-hogar .info-hogar-seccion_1{
width: 100%;
height: 100vh;
background-image: url("../media/casa.jpg");  
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
}
.info-hogar .info-oficina-seccion_1{
width: 100%;
height: 100vh;
background-image: url("../media/edificio.jpg");  
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
}
.info-hogar-seccion_1 .cuadro{
width: 40%;
height: 300px;
background-color: black;    
position: absolute; 
z-index: 1000;    
margin-top: 15%;     
opacity: 0.7;    
color: white;
}
.info-oficina-seccion_1 .cuadro{
width: 40%;
height: 300px;
background-color: black;    
position: absolute; 
z-index: 1000;    
margin-top: 15%;     
opacity: 0.7;    
color: white;
}
.info-hogar-seccion_1 .info-cuadro{
width: 40%;
height: 300px;
position: absolute; 
z-index: 1010;    
margin-top: 15%;        
color: white;
padding: 50px;
box-sizing: border-box;   
font-family: 'Questrial', sans-serif;      
}
.info-oficina-seccion_1 .info-cuadro{
width: 40%;
height: 300px;
position: absolute; 
z-index: 1010;    
margin-top: 15%;        
color: white;
padding: 50px;
box-sizing: border-box;   
font-family: 'Questrial', sans-serif;      
}
.info-hogar-seccion_1 .info-cuadro a{
 text-decoration: none;
 padding: 10px 20px;
 box-sizing: border-box;
 border: 1px solid white; 
 color: white;   
 float: right;    
}
.info-oficina-seccion_1 .info-cuadro a{
 text-decoration: none;
 padding: 10px 20px;
 box-sizing: border-box;
 border: 1px solid white; 
 color: white;   
 float: right;    
}
.info-hogar-seccion_2{
width: 100%;
height: 90vh;
background-image: url("../media/cocina-2.jpg");
background-repeat: no-repeat;
background-size: cover;    
position: relative;
display: flex;
flex-direction: column;    
align-items: center;    
justify-content: center;   
color: white;    
}
.info-hogar-seccion_2 .fondo{
width: 100%;
height: 100%;    
background-color: black;
opacity: 0.6; 
position: absolute;      
}
.info-hogar-seccion_2 .cont{
z-index: 10000;
padding-left: 120px;
padding-right: 120px;
}
.info-hogar-seccion_2 .col{
color: white;
display: flex;
flex-direction: column;
align-items: center;    
}
.info-hogar-seccion_2 .col img{
width: 140px;    
}
.info-oficina-seccion_2{
width: 100%;
height: 90vh;
background-image: url("../media/fon-oficina.jpg");
background-repeat: no-repeat;
background-size: cover;    
position: relative;
display: flex;
flex-direction: column;    
align-items: center;    
justify-content: center;   
color: white;    
}
.info-oficina-seccion_2 .fondo{
width: 100%;
height: 100%;    
background-color: black;
opacity: 0.7; 
position: absolute;      
}
.info-oficina-seccion_2 .cont{
z-index: 10000;
padding-left: 120px;
padding-right: 120px;
}
.info-oficina-seccion_2 .col{
color: white;
display: flex;
flex-direction: column;
align-items: center;    
}
.info-oficina-seccion_2 .col img{
width: 140px;    
}
.info-oficina-seccion_2 p{
font-size: 20px;
}
.info-hogar-seccion_3 .coll{
display: flex;   
align-items: center; 
justify-content: flex-start;    
padding: 20px;
box-sizing: border-box;    
}
.info-hogar-seccion_3 .coll h2{
margin-left: 15px;    
}
.info-hogar-seccion_3 .col img{
width: 50px;    
}
.info-hogar-seccion_4{
width: 100%;
height: 90vh;
background-image: url("../media/sala-fondo.jpg");
background-repeat: no-repeat;
background-size: cover;    
position: relative;
display: flex;
align-items: center;   
justify-content: flex-end;    
}
.info-hogar-seccion_4 .cuadro{
width: 80%;
height: 450px;    
background-color: black;
opacity: 0.6; 
position: absolute;      
}
.info-hogar-seccion_4 .info-cuadro{
width: 80%;
height: 440px;    
position: absolute;      
padding: 20px;
box-sizing: border-box;    
}
.info-hogar-seccion_4 .info-cuadro .container{
width: 90%;
}
.info-hogar-seccion_4 .col{
display: flex;
flex-direction: column;
align-items: center;    
}
.info-hogar-seccion_4 .move{
display: flex;
flex-direction: column;
align-items: flex-end;    
} 
.info-hogar-seccion_4 .col img{
width: 70px;  
}
.info-oficina-seccion_4{
width: 100%;
height: 90vh;
background-image: url("../media/ofice2.jpg");
background-repeat: no-repeat;
background-size: cover;    
position: relative;
display: flex;
align-items: center;   
justify-content: flex-end; 
}
.info-oficina-seccion_4 .cuadro{
width: 80%;
height: 550px;    
background-color: black;
opacity: 0.6; 
position: absolute;      
}
.info-oficina-seccion_4 .info-cuadro{
width: 80%;
height: 400px;    
position: absolute;      
padding: 20px;
box-sizing: border-box;    
}
.info-oficina-seccion_4 .info-cuadro .container{
width: 90%;
}
.info-oficina-seccion_4 .info-cuadro .nota {
text-align: right !important;
}
.info-oficina-seccion_4 .col{
display: flex;
flex-direction: column;
align-items: center;    
}
.info-oficina-seccion_4 .move{
display: flex;
flex-direction: column;
align-items: flex-end;    
} 
.info-oficina-seccion_4 .col img{
width: 70px;  
}
.info-hogar-seccion_5{
width: 100%;
height: 90vh;
background-image: url("../media/sillon.jpeg");
background-repeat: no-repeat;
background-size: cover;    
position: relative;  
display: flex;
align-items: center;    
}
.info-hogar-seccion_5 .fondo{
width: 100%;
height: 100%;    
background-color: black;
opacity: 0.6; 
position: absolute;      
}
.info-hogar-seccion_5 h1{
font-size: 65px;    
}
.info-hogar-seccion_5 p {
font-size: 23px;
}
.info-hogar-seccion_5 .der{
display: flex;
align-items: center;    
}
.info-hogar-seccion_5 .der a{
margin-left: 130px;
text-decoration: none;
padding: 7px 25px;
box-sizing: border-box;
background-color: white;
color: black;
}
.info-hogar-seccion_6{
width: 100%;
height: 570px;
}
.info-hogar-seccion_6 .der .coll{
display: flex;   
align-items: center; 
justify-content: flex-start;    
padding: 20px;
box-sizing: border-box;   
}
.info-hogar-seccion_6 .der .shadow:hover{
border-top: 2px solid #65bc45;   
cursor: pointer;
}
.info-hogar-seccion_6 .der .col img{
width: 50px;    
}


/* FIN HOGAR Y OFICINA================================   */



/* CONOCENOS================================   */


/* IMAGEN TOP ================================   */
.contenedor_imagen_conocenos{
width: 100%;
height: 85%;
position: relative;
background-image: url("../media/relax.jpg");  
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
display: flex;
justify-content: center;
}
.contenedor_imagen_conocenos .fondo{
width: 100%;
height: 100%;
position: absolute;
background-color: black;
z-index: 100;
opacity: 0.5;    
}
.contenedor_imagen_conocenos .info {
    width: 90%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-family: 'Questrial', sans-serif;
    z-index: 200;
}
.contenedor_imagen_conocenos .info .titulo{
font-size: 50px;    
}
.contenedor_imagen_conocenos .info .containe{
width: 100%;
height: auto;
display: flex; 
margin-top: 10px;    
}
.contenedor_imagen_conocenos .info .containe p:hover{
background-color: white;
color: black;
transition: all 0.5s; 
}
.contenedor_imagen_conocenos .info .material-icons{
   font-size: 30px;
    margin-left: 10px;
}
/* IMAGEN TOP ================================   */


/*SECCION 2*/
.seccion-ques{
width: 100%;
height: 600px;
max-height: 600px;    
/*padding: 20px 40px;*/
box-sizing: border-box;    
background-color: #fff; 
    
display: flex;    
justify-content: space-around;
align-items: center;    
}
.seccion-ques-gris{
width: 100%;
height: 60%;
max-height: 60%;    
/*padding: 20px 40px;*/
box-sizing: border-box;    
background-color: #F4F4F3; 
    
display: flex;    
justify-content: space-around;
align-items: center;    
}
.seccion-ques .izq{
width: 25%;
height: auto;
display: inline-block; 
display: flex;
justify-content: flex-end;    
}
.seccion-ques .der{
width: 55%;
height: auto;
padding: 15px;    
box-sizing: border-box;
display: inline-block;  
float: right;    
}
.seccion-ques .der h1{
font-family: 'Questrial', sans-serif;    
color: black;
}
.seccion-ques .der p{
font-family: 'Questrial', sans-serif;    
font-size: 16px;
color: black;   
}
.seccion-ques .der button{
padding: 10px 30px;
border: none;    
background-color: #6CC24A;
color: white;
font-weight: bold;
font-family: 'Questrial', sans-serif;      
}
.seccion-ques .izq img{
width: 200px;    
height: auto;
}
/*SECCION 2*/


/*SECCION 3*/
#lista_conocenos {
font-family: 'Questrial', sans-serif;  
	font-weight:bold;
	font-size:16px;
	margin-bottom: -3px;
    height: auto;
    padding: 0!important;
    width: 100%;
	justify-content: center;
	-webkit-justify-content: center;
	display: -webkit-flex;
	display: flex;
	text-align: center;
}
#lista_conocenos li {
	display:inline;
	width: 33.33333%;	
	/*padding: 25px;*/
	list-style-type:none;
}

a {
	text-decoration:none;
/*	padding: 25px ;
*/	display: inline-block;
    vertical-align: middle;
	padding: .5rem 0;

}
.socio_conocenos{
	
	background-color:#000000;
	vertical-align: middle;
	padding: .5rem 0;
	border: solid #919388 1px;

	
}
.socio_conocenos button{
	border: none;
	background: transparent;
	color:white;
	text-decoration:none;
	width: 100%;
	height: 100%;
/*	padding: 25px ;
	display: inline-block;
    */
	padding: .5em 0;
}
.usuario_conocenos{
	color:#919388;
	background-color:#fff;
	border: solid #919388 1px;
	vertical-align: middle;
	padding: .5em 0;
}
.usuario_conocenos button{
	border: none;
	background: transparent;
	text-decoration:none;
	color:black;
	width: 100%;
	height: 100%;
/*	padding: 25px ;
	display: inline-block;
*/	
	padding: .5rem 0;
}
button:hover {
	color:#919388;
}
.container_conocenos{
	position: relative;
	overflow: hidden;
	width: 100%;
	justify-content: space-around;
}
.elegirSocio_conocenos{
	font-family: 'Questrial', sans-serif;  
	text-align: center;
	font-size:15px;
	background-color:black;
	color: white;
	padding: 4.5em 1em;
}
.elegirSocio_conocenos .mitad{
	width: 45%; 
	display: inline-block;
}
.elegirSocio_conocenos .mitad .image_conocenos{
	width: 45%; 
	display: inline-block;
}
.elegirSocio_conocenos .mitad img{
	width: 50%;
/*	display: block;
	vertical-align: middle;*/
}
.elegirUsuario_conocenos{
	font-family: 'Questrial', sans-serif;  
	display: none;
	text-align: center;
	font-size:15px;
	background-color:black;
	color: white;
	padding: 4.5em 2em;
}
.elegirUsuario_conocenos .mitad{
	width: 45%; 
	display: inline-block;
}
.elegirUsuario_conocenos .mitad .image_conocenos{
	width: 45%; 
	display: inline-block;
}
.elegirUsuario_conocenos .mitad img{
	width: 50%;
/*	display: block;
	vertical-align: middle;*/
}
.containerTexto_conocenos{
	width: 45%;
	font-size:15px;
	display:inline-block;
	text-align: justify;
	vertical-align: middle;
}
.containerTexto_conocenos p{
	display: block;
	
}
/*SECCION 3*/

/*SECCION 4*/
.seccion-4{
width: 100%;
height: 500px;
max-height: 500px;    
padding: 10px 110px;
box-sizing: border-box;    
background-color: #fff; 
    
display: flex;    
justify-content: space-around;
align-items: center;    
}
.seccion-4 .der{
width: 45%;
height: auto;
display: inline-block; 
display: flex;
justify-content: flex-end;    
}
.seccion-4 .izq{
width: 50%;
height: auto;
padding: 25px;    
box-sizing: border-box;
display: inline-block;  
float: right;    
}
.seccion-4 .izq h1{
font-family: 'Questrial', sans-serif;    
color: black;
}
.seccion-4 .izq p{
font-family: 'Questrial', sans-serif;    
font-size: 16px;
color: black;   
}
.seccion-4 .der img{
width: 90%;    
height: auto;
}
/*SECCION 4*/

/*SECCION REGISTRO*/
.seccion-reg{
width: 100%;
height: 200px;
max-height: 200px;    
padding: 30px 100px;
box-sizing: border-box;    
background-color: black; 
border-bottom: solid white 0.5px;
/*display: flex;*/    
justify-content: space-around;
align-items: center;
}
.seccion-reg .der{
width: 45%;
height: auto;
display: inline-block; 
}
.seccion-reg h2{
color: white;
}
.seccion-reg .izq{
width: 50%;
height: auto;
box-sizing: border-box;
display: inline-block;  
float: right;    
}
.seccion-reg .izq .reservar{
text-decoration: none;
color: white;  
font-family: 'Questrial', sans-serif;
padding: 0 20px; 
border: black;
box-sizing: border-box;  
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
text-align: right;
}
.seccion-reg .der .prestar{
text-decoration: none;
color: white;  
font-family: 'Questrial', sans-serif;
padding: 0 20px;   
border: black;
box-sizing: border-box;
/*display: inline-block;*/
margin-left: 10px; 
display: flex;
justify-content: center;
align-items: center;  
cursor: pointer;
text-align: right;
}

/*SECCION REGISTRO*/




/*img {
	max-width: 100%;
}*/

/*.section-title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}
*/
/*.section-title:after .section-title:before {
	content: '';
	position: absolute;
	bottom: 0;
}*/
/*.section-title:after {
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: 25%;
	right: 25%;
}*/

/*.section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 50%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}*/

/* CAROUSEL STARTS */
/*.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}*/

/*.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}*/

